/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Pages/CreateAcount/regform_style.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
    .regform_style_select_dropdown__3pne1 {
        background: #0F1B42;
        border: 1px solid #0F1B42;
        border-radius: 5px;
        color: #fff;
        padding: 10px;
        width: 100%;
    }

  .regform_style_modal_custom__TrQGS {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0D1322;
    z-index: 1000;
  }
  
  .regform_style_modal_custom__TrQGS , .regform_style_warning__bDh4h {
    font-size: 12px;
    color:red;
  } 

  .regform_style_modal_custom__TrQGS , .regform_style_success__KLxpZ {
    font-size: 12px;
    color:rgb(15, 255, 55);
  } 

  .regform_style_modal_custom__TrQGS , .regform_style_footnote__XdCL2 {
    font-size: 11px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .regform_style_modal_custom_content__v9lD5 {
    background-color: #0F1B42;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
  }
  
  .regform_style_login_details__2_q4B {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #0F1B42;
  }
  
  .regform_style_modal_custom_actions__rFPfR {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .regform_style_modal_custom_actions__rFPfR button,
  .regform_style_modal_custom_actions__rFPfR a {
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0F1B42;
    color: white;
    text-decoration: none;
  }
  
  .regform_style_modal_custom_actions__rFPfR button:hover,
  .regform_style_modal_custom_actions__rFPfR a:hover {
    background-color: #0F1B42;
    font-size: 14px;
  }
  
  .regform_style_modal_custom_actions__rFPfR a {    
    font-size: 14px;
  }




  .regform_style_verificationSection__PIpyV {
    margin-bottom: 20px;
}

.regform_style_verificationRow__Pl8u8 {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjusts spacing between elements */
}

.regform_style_verificationCode__hMJ0U {
    padding: 3px 5px;
    background-color: white;
    border: 1px solid #000;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

.regform_style_verificationInput__4mL0S {
    flex: 1 1; /* Takes up remaining space */
    padding: 10px;
    background-color: #0F1B42;
    border-radius: 10px;
}

.regform_style_verifyButton__RJ_Rm {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.regform_style_submitButton__06dv2 {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.regform_style_submitButton__06dv2[disabled] {
    background-color: #6c757d;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/(common)/login/loginMobile.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
/* login.module.css */
.loginMobile_loginContainer__Qwhuq {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  margin-top: -50px;
}

.loginMobile_loginHeader__MOaCN {
  margin-bottom: 20px;
}

.loginMobile_loginLogo__uvlbm {
  color: #fff;
  font-size: 2rem;
  font-family: Arial, sans-serif;
}

.loginMobile_loginLogoSpan__Uwhnf {
  color: #ffa500;
}

.loginMobile_loginForm__joR8a {
  width: 90%;
  max-width: 400px;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginMobile_formGroup__MABnm {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 4px;
  background-color: #1f1f1d;

  padding: 8px 15px;
}

.loginMobile_formGroupLabel__tLCby {
  color: white;
  font-size: 13.52px;
}

.loginMobile_loginInput__AKR36 {
  width: 100%;
  padding: 6px 6px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
.loginMobile_loginInput__AKR36::placeholder {
  color: rgb(161, 155, 155); /* Change the placeholder color to red */
  opacity: 1; /* Ensure it's fully visible */
  font-size: 12px;
}

.loginMobile_passwordContainer__J_8DZ {
  position: relative;
  width: 100%;
}

.loginMobile_showPasswordButton__8MiC_ {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.loginMobile_forgotPassword__T_mlm {
  margin: 20px auto;
  text-align: right;
}

.loginMobile_forgotPasswordLink__A0Amr {
  color: #ffa500;
  text-decoration: none;
  font-size: 12px;
  border: 2px solid #ff8a14;
  padding: 4px;
  border-radius: 5px;
}

.loginMobile_forgotPasswordLink__A0Amr:hover {
  text-decoration: underline;
}

.loginMobile_loginButton__fhNAW {
  width: 100%;
  padding: 10px;
  background-color: #ff8a14;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.loginMobile_loginButton__fhNAW:hover {
  background-color: #d66f08;
}

.loginMobile_signup__gosJR {
  margin-top: 20px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.loginMobile_signupLink__Cqb0z {
  color: green;
  text-decoration: none;
}

.loginMobile_signupLink__Cqb0z:hover {
  text-decoration: underline;
}

.loginMobile_verificationSection__C9eFd {
  margin-top: 4px;
  background-color: #1f1f1d;
  padding: 8px 15px;
  font-size: 12px;
}
.loginMobile_verificationRow__0TuqJ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginMobile_verificationInput__Ovh_G::placeholder {
  color: white;
  opacity: 1; /* Ensure it's fully visible */
  font-size: 12px;
}
.loginMobile_verificationCode__vp6IO {
  font-size: 16px;
  color: black;
  background-color: white;
  padding: 2px 8px;
  font-weight: bolder;
}
.loginMobile_loginDesktop__HlOA7 {
  display: none;
}
.loginMobile_loginMobile__8jiWy {
  display: block;
}
@media screen and (min-width: 992px) {
  .loginMobile_loginDesktop__HlOA7 {
    display: block;
  }
  .loginMobile_loginMobile__8jiWy {
    display: none;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/components/Shared/headerMobile.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
.headerMobile_container__66DGq {
  display: flex;
  flex-direction: column;
}

.headerMobile_header___AgwI {
  background-color: #080808;
  color: white;
  padding: 1rem;
}

.headerMobile_menuButton__ThqHM {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.headerMobile_title__xzadb {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Drawer Base Styles */

/* Main Drawer Styles */
.headerMobile_drawer__6daZm {
  position: fixed;
  top: 0;
  height: 100%; /* Ensuring it takes full height of the screen */
  width: 10rem;
  background-color: #252424;
  color: #ffffff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto; /* Allow scrolling for the main drawer */
  z-index: 1000;
}
.headerMobile_drawerOpen__iD6cI {
  transform: translateX(0);
}

.headerMobile_drawerClosed__EXsCn {
  transform: translateX(-100%);
}

.headerMobile_drawerHeader__ohxOu {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.headerMobile_closeButton__tPKK4 {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.headerMobile_drawerList___W1jn {
  list-style: none;
  padding: 0;
  margin: 0;
}

.headerMobile_drawerItem__nUTp9 {
  border-bottom: 1px solid #4a5568;
}

.headerMobile_drawerItemMain__nPmC3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.headerMobile_subDrawerItemMain__JzDT3 {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.headerMobile_drawerItemMain__nPmC3:hover {
  background-color: #353432;
}

.headerMobile_drawerItemLabel__V_fZ6 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Sub-Drawer Styles */
.headerMobile_subDrawer__hWLkX {
  position: fixed;
  left: 60px;
  top: 0;
  height: 100%; /* Ensuring it takes full height of the screen */
  width: 6rem;
  background-color: #353432;
  color: white;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 15;
  overflow-y: auto; /* Allow scrolling for the sub drawer */
}

